@import '../../../const.scss';

.pageNumber {

    &__wrap {
        position: absolute;
        bottom: 0;
        left: calc(-24px + 50vw);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 100px;

        height: 100px;
        width: max-content;

        z-index: $zindex2;

        font-size: 3rem;
        color: $white;
        user-select: none;
    }

    &__text {
        font-weight: 900;
        text-shadow: 2px 2px 7px #444;
    }

}


@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}