@import '../../../const.scss';

.menu {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;

    &__wrap {
        width: 100px;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: $zindex2;
    }
}

@media (max-width: 767px) {}
@media (min-width: 1200px) and (max-width: 1900px) {
    .menu {

        &__wrap {
            width: 60px;
        }

    }
}


@media (min-width: 767px) and (max-width: 1200px) {
    .menu {

        &__wrap {
            width: 50px;
        }

    }
}