@import '../../../const.scss';

.card {
    width: 20%;
    height: 200px;
    flex-grow: 1;

    margin: 5px 15px;
    transition: 1s;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid $white;

    position: relative;

    &__ {
        &content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            height: 40%;
            border-top: 1px solid $white;
            padding: 16px;

            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #f4f4f4e6;

            user-select: none;

            transition: 0.2s;

            z-index: $zindex2;
        }

        &title {
            font-size: 2rem;
        }

        &description {
            font-size: 1rem;
        }

        &img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &background {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: $zindex1;

            transition: 0.5s;

            background-position: center;
            background-size: cover;

            &- {

                &text {
                    font-size: 3rem;
                    user-select: none;
                    opacity: 0;
                    transition: 1s;

                    & > span {
                        text-decoration: underline;
                        color: $link;
                    }
                }

                &shadow {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    background-color: #f4f4f400;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: 0.5s;
                }
            }
        }
    }

    &_ {

        &open {
            z-index: $zindex3;

            .card__content {
                opacity: 0;
            }

            .card__background {
                z-index: $zindex3;

                &-{

                    &text {
                        animation: shadow-text;
                        animation-delay: 0.5s;
                        animation-duration: 1.5s;
                        animation-fill-mode: forwards;
                    }

                    &shadow {
                        background-color: $white;
                    }
                }
            }

            &:hover {
                cursor: default !important;
            }
        }
    }

    &:last-child {
        margin-right: 0px;
    }

    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 1900px) {
    .card {
        height: 300px;
        margin: 20px 40px;

        &:nth-child(4n + 1) {
            margin-left: 0;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1900px) {
    .card {
        width: 20%;
        height: 250px;
        margin: 15px 30px;

        &:nth-child(4n + 1) {
            margin-left: 0;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .card {
        width: 28%;
        margin: 10px 15px;

        &__ {

            &background-text {
                font-size: 2rem;
            }
        }

        &:nth-child(3n + 1) {
            margin-left: 0;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .card {
        width: 40%;
        margin-top: 10px;

        &__ {

            &background-text {
                font-size: 1rem;
            }
        }

        &:nth-child(2n + 1) {
            margin-left: 0;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    
}

@media (max-width: 375px) {
    .card {
        width: 80%;
        margin: 10px 0;

        &__ {

            &background-text {
                font-size: 1rem;
            }
        }
    }
}

@keyframes  shadow-text {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}