@import '../../../const.scss';

.page {
    width: 100%;
    height: 100vh;

    font-size: 3rem;
}


@media (min-width: 1900px) {
    .page {
        padding: 32px;
    }
}
@media (min-width: 1200px) and (max-width: 1900px) {
    .page {
        padding: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .page {
        padding: 8px;
    }
}
