@import '../../../const.scss';

.blackSquare {

    position: relative;
    height: 40vw;
    width: 40vw;

    &_right {
        background-color: $black;
    }

    &__img {
        width: calc(40vw - 20px);
        height: calc(40vw - 20px);
    }

    &__text {
        position: absolute;
        right: 2vh;
        bottom: 0;
        height: 15px;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
    }

    &__link {
        position: absolute;
        left: calc(100% - 10px);
        bottom: 2vh;
        height: 15px;
        width: max-content;
        font-size: 0.9rem;
        display: flex;
        align-items: center;

        color: $white;

        transform: rotateZ(-90deg);
        transform-origin: left;
    }
}

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 1900px) {
    $width: 30vw;
    $width-img: calc(30vw - 20px) ;

    .blackSquare {
        height: $width;
        width: $width;

        &__img {
            width: $width-img;
            height: $width-img;
        }
    }
}