@import '../../../const.scss';

.toggleVision {
    width: max-content;
    height:  max-content; 

    background-color: $black;
    position: relative;

    overflow: hidden;

    &_activate {
        animation: fadein 0s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;

        &:after {
            animation: cssAnimationAfter;
            animation-timing-function:ease-in-out;
            animation-duration:1s;
            animation-fill-mode: forwards;
        }

        &::before {
            animation: fadeinBefor 0s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: -1px;
        top: 0;
        bottom: 0;

        width: 0%;
        
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
        transition: 1s;
        transform-origin: center;

        background-color: $shadow;
        background: linear-gradient(90deg, $white 20%, $shadow 100%);

        z-index: $zindex3;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0;
        bottom: 0;
        right: 0;

        background-color: $black;
        
        
        z-index: $zindex2;
    }
}

.side {

    &_left {
        
        & .toggleVision {
            background-color: $black;
        }
    }

    &_right {
        & .toggleVision {
            background-color: $white;

            &::after {
                background: linear-gradient(90deg, rgba(68,68,68,1) 50%, rgba(191,189,189,1) 100%);
            }

            &::before {
                background-color: $white;
            }
        }
    }
}

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}

@keyframes cssAnimationAfter {
    0% {
      width: 0;
    }

    49% {
        width: 200%;
        left: -1px;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    }
    50% {
        left: -1px;
    }

    60% {
        left: -1px;
    }

    99% {
        left: 100%;
        width: 200%;
    }

    100% {
        
    }
}

@keyframes fadein {
    from {
        background-color: $black;
    }
    to {
        background-color: $white;
    }
}

@keyframes fadeinBefor {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}