@import '../../../const.scss';

.side {
    flex-direction: column;
    display: flex;
    transition: .5s;

    &__wrap {
        width: 50vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        z-index: $zindex1;
    }

    &_left {
        background-color: $white;
        color: $black;

        padding-top: 100vh;
        padding-bottom: 100vh;
    }

    &_right {
        background-color: $black;
        color: $white;
        flex-direction: column-reverse;

        padding-top: 100vh;
        padding-bottom: 100vh;
    }
}

@media (max-width: 1900px) {
}
@media (min-width: 1200px) and (max-width: 1900px) {
}