@import '../../../const.scss';

.menuItem {
    position: relative;
    box-sizing: content-box;

    padding: 10px 0px;

    height: 100px;
    width: 100%;

    &__text {
        font-size: 1.4rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: rotateZ(-90deg);
        transform-origin: center;    

        &:hover {
            cursor: pointer;
        }
    }

    &__elem {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        width: calc(60vw + 100px) ;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100px);
        transition: .5s;

        background-color: white;
        box-shadow: 8px 9px 15px 1px #4444444d;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        font-size: 4rem;
        
        user-select: none;
        
        &:hover {
            cursor: pointer;
        }
    }

    &:hover {
        & .menuItem__elem {
            transform: translateX(-60vw);
        }
    }
}


@media (min-width: 1200px) and (max-width: 1900px) {
    .menuItem {

        height: 80px;
        padding: 5px 0px;

        &__text {
            font-size: 1rem;
        }

        &__elem {

            width: calc(60vw + 100px) ;    
            font-size: 2.5rem;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}


@media (min-width: 767px) and (max-width: 1200px) {
    .menuItem {
        height: 70px;
        padding: 5px 0px;

        &__text {
            font-size: 1rem;
        }

        &__elem {

            width: calc(60vw + 100px) ;    
            font-size: 2rem;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}