@import '../../../const.scss';

.bitTitle {
    width: calc(50vw - 32px);
    height: 30vh;
    padding: 20px 80px;

    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;

    &__before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        color: $blackOpasity;
        font-size: 15rem;
        line-height: 130%;

        text-transform: uppercase;

        z-index: $zindex1;
        transition: 0.3s;
        user-select: none;
    }

    &__text {
        font-size: 5rem;
        font-weight: bold;
        z-index: $zindex2;
        
        transition: 0.1s;
        user-select: none;
    }
}


@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}