@import '../../../const.scss';

.preloader {
    font-size: 8rem;
    font-weight: bold;
    padding-bottom: 10vh;

    &__ {
        &wrap {
            position: absolute;
            z-index: $zindexPreloader;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $white;

            opacity: 1;

            &_hidden {
               display: none;
            }

            &_fade {
                animation: fadePreloader;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }

            &_dark {
                background-color: $black;

                & .preloader__char {
                    color: $black;

                        &_activate {
                            color: $white;
                            animation: addShadow_dark;
                            text-shadow: 5px 5px 5px $shadow_dark;
                        }

                }
            }
        }

        &char {
            color: $white;

            &_activate {
                color: $black;
                animation: addShadow;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            } 
        }
    }
}

@media (max-width: 767px) {
    .preloader {
        font-size: 3rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .preloader {
        font-size: 5rem;
        padding-bottom: 5vh;
    }
}

@keyframes addShadow {
    from {
        text-shadow: 0px 0px 0px $shadow;
    }
    to {
        text-shadow: 4px 5px 4px $shadow;
    }
}

@keyframes addShadow_dark {
    from {
        text-shadow: 0px 0px 0px $shadow_dark;
    }
    to {
        text-shadow: 5px 5px 5px $shadow_dark;
    }
}

@keyframes fadePreloader {
    0% {
        opacity: 1;
        display: flex;
    }

    100% {
        opacity: 0;
    }
}