@import '../../../const.scss';

.pageNumberCount {

    height: max-content;
    transition: .5s;
    padding: 0px 5px;

    &__wrap {
        overflow: hidden;
        width: 50px;
        height: 50px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    &__item {
        font-weight: 900;
        font-size: 3.6rem;
        text-shadow: 2px 2px 7px #444;
    }
}


@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}