@import '../../../const.scss';

.mainDescription {
    height: calc(70vh - 140px);
    width: calc(50vw - 132px);

    &__poligon {
        float: left;
        width: 100%;
        height: 100%;
        clip-path: polygon(15% 0, 26% 49%, 58% 75%, 100% 86%, 100% 100%, 0 100%, 0 0);
        shape-outside: polygon(20% 0, 30% 45%, 58% 70%, 100% 80%, 100% 100%, 0 100%, 0 0);
    }

    &__text {
        font-size: 2rem;
        text-align: left;

        &> span {
            background-color: $activate;
            padding: 2px 0px;
            margin: 0 2px;
            line-height: calc(2rem + 8px);

            &:hover {
                cursor: pointer;
            }
        }
    }
}


@media (max-width: 767px) {}

@media (min-width: 1200px) and (max-width: 1399) {
    .mainDescription {
        &__text {
            font-size: 1.2rem;
        }
    }
}


@media (min-width: 1400px) and (max-width: 1899px) {
    .mainDescription {
        &__text {
            font-size: 2rem;
        }
    }
}

@media (min-width: 1900px) and (max-width: 2399px) {
    .mainDescription {
        &__text {
            font-size: 2.4rem;
        }
    }
}

@media (min-width: 2400px) {
    .mainDescription {
        &__text {
            font-size: 3.1rem;
        }
    }
}