@import '../../../const.scss';

.paginator {

    width: 30px;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    overflow: hidden;
    
    &__wrap {
        width: 50px;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__item {
        width: 20px;
        height: 20px;
        margin: 10px 0px;

        background-color: white;

        transition: .5s;

        &_activate {
            background-color: $activate;
            position: absolute;
            top: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 767px) {}
@media (min-width: 1200px) and (max-width: 1900px) {
    .paginator {
        width: 24px;
        padding-top: 15px;
        padding-bottom: 15px;

        &__wrap {
            width: 40px;
        }
        &__item { 
            width: 15px;
            height: 15px;
        }
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .paginator {
        width: 24px;
        padding-top: 10px;
        padding-bottom: 10px;

        &__wrap {
            width: 40px;
        }
        &__item { 
            width: 16px;
            height: 16px;
        }
    } 
}