$black: #444;
$blackOpasity: rgba(68, 68, 68, 0.05);
$white: rgb(244, 244, 244);
$shadowBlock: #bfbdbd33;
$shadow: #bfbdbd;
$shadow_dark: #0e0e0e;
$link: rgb(80, 160, 192);
$activate: rgb(255, 163, 38);
$xz: rgb(222,236,246);

$zindexPreloader: 10;


$zindex1: 1;
$zindex2: 2;
$zindex3: 3;